  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

body{
background-color: var(--background-color);
}

/* light and darkmode functionality */
.theme-light{
--text-color: hsl(200, 15%, 8%);
--input-icon: hsl(0, 0%, 52%);
--background-color: hsl(0, 0%, 98%);
--navbar-bg: hsl(0, 0%, 100%);
--elements: hsl(0, 0%, 100%);
--input-text: hsl(0, 0%, 52%);
}

.theme-dark{
--navbar-bg: hsl(209, 23%, 22%);
--elements: hsl(209, 23%, 22%);
--background-color: hsl(207, 26%, 17%);
--text-color: hsl(0, 0%, 100%);
--input-icon: hsl(0, 0%, 100%);
--input-text: hsl(0, 0%, 98%);
}

.App {
font-family: 'Nunito Sans', sans-serif;
font-size: 1.6rem;

}


.nav-text{
  font-size: 2rem;
}

a{
  list-style: none;
  text-decoration: none;
}

